.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal;
  display: none;
  overflow: hidden;
outline: 0;}
  .modal .modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

.modal-dialog {
  position: relative;
  width: auto;
  margin: $modal-dialog-margin;
  pointer-events: none;
  max-width:500px;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (1.75rem * 2));
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%; 
  pointer-events: auto;
  background-color: $modal-content-bg;
  background-clip: padding-box;
  border: 1px solid #c1c1c1;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-modal-backdrop;
  background-color: $modal-backdrop-bg;
  &.fade { opacity: 0; }
  &.show { opacity: $modal-backdrop-opacity; }
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  border-bottom: 1px solid #c1c1c1;
}
 .modal-header .close {
    padding: 15px;
    margin: -1rem -1rem -1rem auto;
  }
.modal-title {
  margin-bottom: 0;
  line-height: $modal-title-line-height;
}
/* Where all modal content resides (sibling of .modal-header and .modal-footer)*/
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: $modal-inner-padding;
}
.modal-footer {
  display: flex;
  align-items: center; 
  justify-content: flex-end; 
  padding: $modal-inner-padding;
  border-top: $modal-footer-border-width solid $modal-footer-border-color;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@include media-breakpoint-up(sm) {
  .modal-dialog {
    max-width: $modal-md;
    margin: $modal-dialog-margin-y-sm-up auto;
  }

  .modal-dialog-centered {
    min-height: calc(100% - (#{$modal-dialog-margin-y-sm-up} * 2));
  }

  .modal-content {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }

  .modal-sm { max-width: $modal-sm; }

}

@include media-breakpoint-up(lg) {
  .modal-lg { max-width: $modal-lg; }
}

.close {
     float: right;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
  .close:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
}
