
input[type=button] {
	margin: 0 10px 0 0;
	padding: 6px 10px;
	color: #606060;
	background: #e0e0e0;
	border: 0 none;
	width: auto;
	display: inline-block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-font-smoothing: antialiased;
}
.buttons {
	margin: 0 0 25px 0;
}
input[type=button]:hover {
	background: #dadada;
}

@media only screen and (max-width : 320px) {
	body {
		margin: 20px 0;
	}
	#wrapper {
		margin: 0;
	}
	#wrapper > * {
		padding-left: 10px;
		padding-right: 10px;
	}
	.demo {
		padding: 20px;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
	}
}